.header {
    display: flex;
    flex-direction: column;
}

.header .headerTop {
    height: 60px;
    background: #5555ff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .headerLeftNav {
    color: #fff;
    padding: 5px 5px 2px 5px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid;
    border: 1px solid #555;
}


/* logo*/

.header .logo {
    width: 100px;
    object-fit: cover;
    margin: 18px 20px 0px 20px;
    height: 8vh;
}


/* logo*/


/* Search box */

.header .headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    width: 10vw;
    margin-right: 11vw;
    /* background-color: #000; */
}

.header .headerSearchInput {
    width: 70%;
    height: 20px;
    padding: 5px;
}

.header .headerSearchIcon {
    background: white;
    height: 37px !important;
}


/* Search box */


/*Links*/

.headerNavbar,
.headerNavbar span {
    display: flex;
    justify-content: center;
}

.headerLink:first-child {
    width: 130px;
}

.headerLink {
    color: #fff;
}

.headerNavbar .headerOptions,
.headerAddress .headerOptions {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.headerOption_One {
    font-size: 12px;
}

.headerOption_Two {
    font-size: 14px;
    font-weight: 800;
}


/*Links*/


/* Basket*/

.header .headerOptions_Basket {
    display: flex;
    align-items: center;
    color: #fff;
}

.header .basketCount {
    /* border: 1px solid #fff; */
    font-size: 14px;
    /* border-radius: 100px; */
    /* margin: 0px 15px -20px -10px; */
    margin-right: 10px;
    padding: 2px 4px;
}


/* Navbar Bottom */

.headerBottom {
    background: #000;
    padding-top: 5px;
    height: 45px;
    color: #fff;
    display: flex;
    align-items: center;
}

.headerAddress {
    display: flex;
}

.headerAddress_Icon {
    vertical-align: middle;
}

.headerBottom_Navbar {
    display: flex;
    justify-content: center;
    flex: 1;
}

.headerBottom_Navbar>span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.searchbtn {
    margin: 5px;
    margin-left: -25vw;
    height: 5vh;
    width: 9vw;
    font-size: 16px;
    /* background: #f0c14b; */
    /* border-color: #a88734 #9c7e31 #846a29; */
    background-color: white;
    border-color: white;
    /* border-radius: 20px; */
    cursor: pointer;
    color: #5555ff;
}